a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 1.8em;
}

ul {
  list-style-type: none;
}

ul a {
  color: white;
}

@media (min-width: 320px) and (max-width: 575px) {
  body {
    font-family: "Roboto", sans-serif;
    margin: auto;
  }

  .logo {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
  }
  .logo img {
    width: 50vw;
  }

  /* Recherche Localisation */
  .localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    background-color: #eaeaea;
    box-shadow: inset 0px 10px 5px -5px #d4d4d4;
  }
  .localisation i {
    display: inline-block;
    font-size: 20px;
    color: #4b4b4b;
  }
  .localisation input {
    text-align: center;
    background-color: #eaeaea;
    border: transparent;
    font-size: 20px;
    font-weight: bold;
  }

  /* Recherche Restaurant */
  .search_restaurant {
    background-color: #f6f6f6;
    padding: 30px 0 60px 0;
    margin-bottom: 40px;
  }
  .search_restaurant h1 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
  }
  .search_restaurant p {
    font-size: 22px;
    text-align: center;
    margin: 0 10px 40px 10px;
  }
  .search_restaurant .btn {
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin: auto;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 100px;
    background: linear-gradient(to left top, #9356DC, #FF79DA);
    color: white;
    box-shadow: 0 0 10px #d4d4d4;
  }

  /* Fonctionnement */
  .fonctionnement {
    width: 95%;
    margin: auto;
  }
  .fonctionnement_menu {
    margin-bottom: 30px;
  }
  .fonctionnement_menu a {
    display: flex;
    align-items: center;
  }
  .fonctionnement_menu_numero {
    position: relative;
    z-index: 1;
    border: 1px solid #9356DC;
    border-radius: 100px;
    padding: 0 5px 0 5px;
    background-color: #9356DC;
    color: white;
  }
  .fonctionnement_menu_explication {
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 10px;
    width: 90%;
    border: 1px solid #f6f6f6;
    border-radius: 15px;
    background-color: #f6f6f6;
    position: absolute;
    box-shadow: 5px 5px 10px #d4d4d4;
  }
  .fonctionnement_menu_explication i {
    padding: 0 20px 0 30px;
    color: #4b4b4b;
  }

  /* Restaurants */
  .restaurants {
    background-color: #f6f6f6;
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .restaurants h2 {
    padding: 30px 0 0 10px;
  }
  .restaurants_liste {
    width: 95%;
    margin: auto;
    padding-bottom: 10px;
    border: 1px solid #f6f6f6;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 10px #d4d4d4;
    position: relative;
  }
  .restaurants_liste img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  .restaurants_liste_localisation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px 0 10px;
  }
  .restaurants_liste_localisation_info {
    line-height: 5px;
    font-size: 1.4em;
  }
  .restaurants_liste_localisation_heart {
    font-size: 35px;
    color: #4b4b4b;
  }
  .restaurants_liste_nouveau {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 15px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #99E2D0;
    border-radius: 3px;
    background-color: #99E2D0;
  }
  .restaurants_liste_nouveau_texte {
    margin: 0;
    font-weight: bold;
    color: #166434;
  }

  /* footer */
  .footer {
    background-color: #353535;
    padding-bottom: 20px;
    color: white;
  }
  .footer_logo {
    padding: 30px 0 0 40px;
    margin: 0;
    font-family: "Shrikhand", sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
  }
  .footer_ul a {
    display: flex;
    align-items: center;
  }
  .footer_ul_li {
    line-height: 2px;
  }
  .footer_menu {
    padding-left: 10px;
  }

  #deal {
    font-size: 0.7em;
  }
}

/*# sourceMappingURL=style.css.map */
